.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--harizontal-space);
  margin-top: 20px;
  align-items: center;
  opacity: 90%;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: absolute;
  right: -7px;
  top: -7px;
}
